@charset "UTF-8";
.rahmentemplate-content {
  /**
   * Loading first in the style.scss & classic-editor.scss
   */
  /**
   * Header styling and layout
   */
  /**
   * Footer styling and layout
   */
  /**
   * Navigation Menus
   */
}
.rahmentemplate-content .site-header {
  /* Backwards compat for Hello 2.3.0 */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  position: relative;
}
.rahmentemplate-content .site-header .site-navigation {
  justify-content: flex-end;
}
.rahmentemplate-content .site-header .site-branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rahmentemplate-content .site-header .header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rahmentemplate-content .site-header .header-inner .custom-logo-link {
  display: block;
}
.rahmentemplate-content .site-header .header-inner .site-branding .site-title,
.rahmentemplate-content .site-header .header-inner .site-branding .site-description {
  margin: 0;
}
.rahmentemplate-content .site-header .header-inner .site-branding.show-title .site-logo {
  display: none !important;
}
.rahmentemplate-content .site-header .header-inner .site-branding.show-logo .site-title {
  display: none !important;
}
.rahmentemplate-content .site-header:not(.header-stacked) .header-inner .site-branding {
  max-width: 30%;
}
.rahmentemplate-content .site-header:not(.header-stacked) .header-inner .site-navigation {
  max-width: 70%;
}
.rahmentemplate-content .site-header.header-inverted .header-inner {
  flex-direction: row-reverse;
}
.rahmentemplate-content .site-header.header-inverted .header-inner .site-branding {
  text-align: right;
}
.rahmentemplate-content .site-header.header-inverted .header-inner .site-navigation {
  justify-content: start;
}
.rahmentemplate-content .site-header.header-stacked .header-inner {
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 576px) {
  .rahmentemplate-content .site-header .header-inner:not(.header-stacked) .site-branding {
    max-width: 80%;
  }
}
.rahmentemplate-content .site-footer {
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  position: relative;
}
.rahmentemplate-content .site-footer .footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rahmentemplate-content .site-footer .footer-inner .custom-logo-link {
  display: block;
}
.rahmentemplate-content .site-footer .footer-inner .site-navigation {
  justify-content: flex-end;
}
.rahmentemplate-content .site-footer .footer-inner .site-branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rahmentemplate-content .site-footer .footer-inner .site-branding .site-title,
.rahmentemplate-content .site-footer .footer-inner .site-branding .site-description {
  margin: 0;
}
.rahmentemplate-content .site-footer .footer-inner .site-branding.show-title .site-logo {
  display: none !important;
}
.rahmentemplate-content .site-footer .footer-inner .site-branding.show-logo .site-title {
  display: none !important;
}
.rahmentemplate-content .site-footer .footer-inner .copyright {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.rahmentemplate-content .site-footer .footer-inner .copyright p {
  margin: 0;
}
.rahmentemplate-content .site-footer.footer-inverted .footer-inner {
  flex-direction: row-reverse;
}
.rahmentemplate-content .site-footer.footer-inverted .footer-inner .site-branding {
  text-align: right;
}
.rahmentemplate-content .site-footer.footer-inverted .footer-inner .site-navigation {
  justify-content: flex-start;
}
.rahmentemplate-content .site-footer.footer-has-copyright .footer-inner .site-navigation {
  justify-content: center;
}
.rahmentemplate-content .site-footer.footer-stacked .footer-inner {
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.rahmentemplate-content .site-footer.footer-stacked .footer-inner .site-branding h4.site-title {
  text-align: center;
}
.rahmentemplate-content .site-footer.footer-stacked .footer-inner .site-navigation .menu {
  padding: 0;
}
.rahmentemplate-content .site-footer:not(.footer-stacked) .footer-inner .site-branding {
  max-width: 20%;
}
.rahmentemplate-content .site-footer:not(.footer-stacked) .footer-inner .site-navigation {
  max-width: 60%;
}
.rahmentemplate-content .site-footer:not(.footer-stacked) .footer-inner .copyright {
  max-width: 20%;
}
@media (max-width: 576px) {
  .rahmentemplate-content .site-footer:not(.footer-stacked) .footer-inner .site-branding,
  .rahmentemplate-content .site-footer:not(.footer-stacked) .footer-inner .site-navigation,
  .rahmentemplate-content .site-footer:not(.footer-stacked) .footer-inner .copyright {
    display: block;
    text-align: center;
    width: 100%;
    max-width: none;
  }
  .rahmentemplate-content .site-footer .footer-inner .site-navigation ul.menu {
    justify-content: center;
  }
  .rahmentemplate-content .site-footer .footer-inner .site-navigation ul.menu li {
    display: inline-block;
  }
}
.rahmentemplate-content .site-header.header-inverted .site-navigation-toggle-holder {
  justify-content: flex-start;
}
.rahmentemplate-content .site-header.header-stacked .site-navigation-toggle-holder {
  justify-content: center;
  max-width: 100%;
}
.rahmentemplate-content .site-header.menu-layout-dropdown .site-navigation {
  display: none;
}
.rahmentemplate-content .site-navigation-toggle-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  max-width: 20%;
  padding: 8px 15px;
}
.rahmentemplate-content .site-navigation-toggle-holder .site-navigation-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding: 0.25em;
  cursor: pointer;
  border: 0 solid;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #494c4f;
}
.rahmentemplate-content .site-navigation-toggle-holder.elementor-active .site-navigation-toggle i:before {
  content: "\e87f";
}
.rahmentemplate-content .site-navigation {
  grid-area: nav-menu;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.rahmentemplate-content .site-navigation ul.menu, .rahmentemplate-content .site-navigation ul.menu ul {
  list-style-type: none;
  padding: 0;
}
.rahmentemplate-content .site-navigation ul.menu {
  display: flex;
  flex-wrap: wrap;
}
.rahmentemplate-content .site-navigation ul.menu li {
  position: relative;
  display: flex;
}
.rahmentemplate-content .site-navigation ul.menu li a {
  display: block;
  padding: 8px 15px;
}
.rahmentemplate-content .site-navigation ul.menu li.menu-item-has-children {
  padding-inline-end: 15px;
}
.rahmentemplate-content .site-navigation ul.menu li.menu-item-has-children:after {
  display: block;
  content: "▾";
  font-size: 1.5em;
  align-items: center;
  color: #666666;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
}
.rahmentemplate-content .site-navigation ul.menu li.menu-item-has-children:focus-within > ul {
  display: block;
}
.rahmentemplate-content .site-navigation ul.menu li ul {
  background: #fff;
  display: none;
  min-width: 150px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 100%;
}
.rahmentemplate-content .site-navigation ul.menu li ul li {
  border-block-end: #eeeeee 1px solid;
}
.rahmentemplate-content .site-navigation ul.menu li ul li:last-child {
  border-block-end: none;
}
.rahmentemplate-content .site-navigation ul.menu li ul li.menu-item-has-children a {
  flex-grow: 1;
}
.rahmentemplate-content .site-navigation ul.menu li ul li.menu-item-has-children:after {
  transform: translateY(-50%) rotate(-90deg);
}
.rahmentemplate-content .site-navigation ul.menu li ul ul {
  left: 100%;
  top: 0;
}
.rahmentemplate-content .site-navigation ul.menu li:hover > ul {
  display: block;
}
.rahmentemplate-content footer .site-navigation ul.menu li ul {
  top: auto;
  bottom: 100%;
}
.rahmentemplate-content footer .site-navigation ul.menu li ul ul {
  bottom: 0;
}
.rahmentemplate-content footer .site-navigation ul.menu a {
  padding: 5px 15px;
}
.rahmentemplate-content .site-navigation-dropdown {
  margin-block-start: 10px;
  transition: max-height 0.3s, transform 0.3s;
  transform-origin: top;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
}
.site-navigation-toggle-holder:not(.elementor-active) + .rahmentemplate-content .site-navigation-dropdown {
  transform: scaleY(0);
  max-height: 0;
}
.site-navigation-toggle-holder.elementor-active + .rahmentemplate-content .site-navigation-dropdown {
  transform: scaleY(1);
  max-height: 100vh;
}
.rahmentemplate-content .site-navigation-dropdown ul {
  padding: 0;
}
.rahmentemplate-content .site-navigation-dropdown ul.menu {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  background: white;
}
.rahmentemplate-content .site-navigation-dropdown ul.menu li {
  display: block;
  width: 100%;
  position: relative;
}
.rahmentemplate-content .site-navigation-dropdown ul.menu li a {
  display: block;
  padding: 20px;
  background: #ffffff;
  color: #55595c;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1019607843);
}
.rahmentemplate-content .site-navigation-dropdown ul.menu li.current-menu-item a {
  color: white;
  background: #55595c;
}
.rahmentemplate-content .site-navigation-dropdown ul.menu > li li {
  transition: max-height 0.3s, transform 0.3s;
  transform-origin: top;
  transform: scaleY(0);
  max-height: 0;
}
.rahmentemplate-content .site-navigation-dropdown ul.menu li.elementor-active > ul > li {
  transform: scaleY(1);
  max-height: 100vh;
}
@media (max-width: 576px) {
  .rahmentemplate-content .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .rahmentemplate-content .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation-toggle-holder {
    display: none !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .rahmentemplate-content .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .rahmentemplate-content .site-header.menu-dropdown-tablet:not(.menu-layout-dropdown) .site-navigation-toggle-holder {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .rahmentemplate-content .site-header.menu-dropdown-tablet:not(.menu-layout-dropdown) .site-navigation {
    display: none !important;
  }
}
.rahmentemplate-content .site-header.menu-dropdown-none:not(.menu-layout-dropdown) .site-navigation-toggle-holder {
  display: none !important;
}